.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.submenu {
  /* padding-left: 16px; */
  transition: transform 0.3s;
  display: none;
  padding-top: 0px;
  padding-bottom: 0px;
}

.submenu .mdc-list-item {
  padding-left: 32px;
}

.submenu_open {
  display: block;
}

.submenu_icon {
  transition: transform 0.3s;
  cursor: pointer;
}

.submenu_icon_open {
  transform: rotate(90deg)
}
